@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1,
p {
    font-family: 'Roboto', sans-serif;

}

p {
    line-height: 2;
}

.navbar {
    background-color: rgba(0, 128, 128, 0.705);
}

.navbard {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbard h1 {
    flex: auto;
}

.navbard li {
    display: inline-block;
    justify-content: flex-end;
}

.nav-link {
    margin: 15px 0;
    margin-right: 50px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-link:hover {
    color: rgb(202, 202, 202);
}

.header {
    height: auto;
}

.head-wrap {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}


.head-information h1 {
    margin-left: 35px;
}

.head-information p {
    text-indent: 25px;
}

.head-paragraph {
    width: 50%;
    margin: 10% auto;
    vertical-align: center;
    justify-content: center;
    align-content: center;
}

.head-wrap_image {
    height: 50vh;
    float: right;
    background-color: red;
    background: url("./images/toyko.jpg");
    background-size: cover;
}

/* About */
.About {
    justify-content: center;
    align-items: center;
    margin: auto auto;
}


.about-wrap {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}


.about-information h1 {
    margin-left: 35px;
}

.about-information p {
    text-indent: 25px;
}

.about-paragraph {
    width: 50%;
    margin: 10% auto;
    vertical-align: center;
    justify-content: center;
    align-content: center;
}

.about-wrap_image {
    height: 50vh;
    float: left;
    background-color: red;
    background: url("./images/toyko.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* About page */

.header-information {
    width: 80%;
    margin: auto;
}

.header-information h1 {
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

.header-information p {
    width: 80%;
    margin: auto;
}

/* About - Member at Donna */
h2 {
    text-align: center;
}

.member-wrap {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

}

.member {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.member img {
    grid-row: 1/3;
    align-self: center;
}

.member p {
    margin-top: 0;
}

.timeline-wrap {
    text-align: center;
}

.timeline-wrap hr {
    margin-top: 25px;
}
.timeline-history{
    user-select: none;
}

/* Footer */
.footer-contain {
    width: 100%;
    background: rgb(53, 53, 53);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    user-select: none;
    position: relative;
    bottom: 0;
    text-align: center;
    margin: auto;
}

.footer-a {
    display: block;
    text-align: end;
    padding-right: 10%;
}

.footer-b {
    display: block;
    padding-left: 10%;
}

.footer-link {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
    padding-top: 15px;
}